@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: serif;
  /* Using institutional serif as primary for Symbol Lab */
}